mixin button(props)
	-var props = props || {};
	-var size = props.size || 'standard';
	-var color = props.color || 'green';
	-var caption = props.caption || 'button';
	-var extension = props.extension || '';

	-var type = props.type || 'standard';
	-var direction = props.direction || 'left';

	case type
		when 'arrow'
			-var caption = '';
			-
				var classes = [
					`button-${type}`,
					`button-${type}__direction-${direction}`
				];
		default
			-
				var classes = [
					`button-${type}`,
					`button-standard__size-${size}`,
					`button-standard__color-${color}`,
					'button-standard__effect',
					`button-standard__extension-${extension}`
				];

	//-

	form
		button(class=classes)= caption
