mixin map(props)
	-var props = props || {};
	-var eventName = props.eventName || 'Meet us!';
	-var address = props.address || '1259 california st san francisco, ca';

	//-

	.map
		// TODO: Google API key has become paid! Key is not worked!
		script(src=`https://maps.googleapis.com/maps/api/js?key=
				AIzaSyCSbefNxVIvZSmp13U_lnqYHY-z8XNefbc
				&callback=initMap`,
			async='',
			defer='')


	.map__info

		// TODO: hot fix for reviewer! Google API key has become paid!
		.map__alert
			p= 'API has become paid!'

		.map__event
			p.map__event-title= eventName

		.map__address
			p.map__address-title= address

		.map__control
			.map__element.map__element-target
			.map__element.map__element-marker
