mixin video-player(props)
	-var props = props || {};
	-var title = props.title || 'New Zealand Landscapes Timelapse';
	-var description = props.description || 'from bevan percial';
	-var link = props.link || 'http://vimeo.com/62980495';

	-
		var videoSrc = props.videoSrc ||
			'src/assets/video/NewZealandLandscapesTimelapse.mp4';

		var videoImagePoster = props.videoImagePoster ||
			'src/assets/images/videoPoster.jpg';


	//-

	.video-player
		.video-player__poster
			p.video-player__title= title
			p.video-player__description= description
			p.video-player__link
				a(href='404/404.html',
					target='_blank',
					rel='noopener noreferrer')= link

		.video-player__control-panel
			input.video-player__play(type='button')
			input.video-player__slider(type='range')
			.video-player__fullscreen
				input.video-player__fullscreen-video(type='button')

		video.video-player__source(
			src=videoSrc,
			poster=videoImagePoster)
