mixin events(props)
	-var props = props || {};
	-var photoPoster = props.photoPoster || 'events';
	-var photoAlt = props.photoAlt || 'active events';
	-var photoTitle = props.photoTitle || 'SEO words';

	-var day = props.day || '24';
	-var month = props.month || 'Aug';

	-var title = props.title || 'This is the title';

	-
		var description = props.description || `
		Lorem ipsum dolor sit amet,
		consectetus adipiscing elit.`;

	-var buttonName = props.buttonName || 'Add to calendar';

	//- FIXME: check the path, when importing the block to other projects
	// -var path = props.path || 'src/components/news-events/events/images/';
	-var path = props.path || 'src/assets/images/';

	//-

	.events
		.events__logo
			img.events__poster(
				src= path + photoPoster + '.jpg',
				alt= photoAlt,
				title= photoTitle,
				width='258px',
				height='578px')

		.events__content
			.events__title
				p.events__title-day= day
					span.events__title-month= month
			.events__data
				p.events__data-title= title
			.events__description
				p.events__description-font= description
			.events__button-position
				form
					+button({extension: 'event', caption: buttonName})
