mixin search(props)
	-var props = props || {};
	-var placeholder = props.placeholder || 'Search';
	-var value = props.value || '';
	-var fill = props.fill || '';

	if (fill === 'true')
		-
			var classes = [
				'search__field',
				'search__field-fill'
			];
	else
		-
			var classes = [
				'search__field'
			];

	//-

	form
		input(class=classes
			type='search',
			placeholder= placeholder,
			maxlength='20',
			required='',
			oninvalid="setCustomValidity('Заполните это поле');",
			value= value)

		input.search__field-button(
			type='submit',
			value='')
