mixin drop-down(props)
	-var props = props || {};
	-var quantity = props.quantity || 3;
	-var value0 = props.value0 || 'Choose An Option';
	-var value1 = props.value1 || 'Case';
	-var value2 = props.value2 || 'Engine';
	-var value3 = props.value3 || 'Wheel';
	-var value4 = props.value4 || 'Year';

	//-

	form
		select.drop__down
			case quantity
				when 0
					option(value='0')= value0
				when 1
					option(value='0')= value0
					option(value='1')= value1
				when 2
					option(value='0')= value0
					option(value='1')= value1
					option(value='2')= value2
				when 3
					option(value='0')= value0
					option(value='1')= value1
					option(value='2')= value2
					option(value='3')= value3
				when 4
					option(value='0')= value0
					option(value='1')= value1
					option(value='2')= value2
					option(value='3')= value3
					option(value='4')= value4
