mixin step-slider
	.step-slider__container
		.step-slider__position
			.step-slider__fill

			form
				input.step-slider__track.step-slider__range(
					type='range',
					min='0',
					max='100',
					value='75',
					step='25')

	.step-slider__dial
		- for (let i = 0; i <= 100; i += 25)
			.step-slider__dial_sets-pitch
				p.step-slider__dial-font= i
