mixin feed-back(props)
	-var props = props || {};
	-var buttonName = props.buttonName || 'submit';

	//-

	form
		.feed-back
			input.feed-back__input-field.feed-back__input-name(
				type='text',
				placeholder='Your Name',
				maxlength='25')

			.feed-back__tip-list
				.feed-back__tip-item.feed-back__tip-name
				.feed-back__tip_triangle-name
				p.feed-back__label-name error

			input.feed-back__input-field.feed-back__input-email(
				type='email',
				placeholder='Your Email',
				maxlength='25')

			.feed-back__tip-list
				.feed-back__tip-item.feed-back__tip-email
				.feed-back__tip_triangle-email
				p.feed-back__label-email error

			textarea.feed-back__message-field.feed-back__message(
				placeholder='Your message',
				maxlength='65')

			.feed-back__button-position
				//- mixin, look in components / button-standard
				+button({
					caption: buttonName,
					extension: 'feedback'})
